/* TEMPLATE STYLES */
/* Agenda de léquipe */
.event_agenda{
  color: black;
  background-color: white;
  border-color: #fb3;
  opacity: 0.8;
  height: 100%;
}

/*bouton login et logout */
.btnlog{
  margin: 0;
  padding: 0.5rem 1rem;
}

/*Demos*/
.table_demos{
  color: black;
  background-color: white;
  border-color: #fb3;
  opacity: 0.8;
}

.funkyradio div {
  clear: both;
  overflow: hidden;
}

.funkyradio label {
  width: 100%;
  border-radius: 3px;
  font-weight: normal;
  background-color: #F80;
}

.funkyradio input[type="radio"]:empty,
.funkyradio input[type="checkbox"]:empty {
  display: none;
}

.funkyradio input[type="radio"]:empty ~ label,
.funkyradio input[type="checkbox"]:empty ~ label {
  position: relative;
  line-height: 2.5em;
  text-indent: 3.25em;
  margin-top: 2em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.funkyradio input[type="radio"]:empty ~ label:before,
.funkyradio input[type="checkbox"]:empty ~ label:before {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  content: '';
  width: 2.5em;
  background: #D1D3D4;
  border-radius: 3px 0 0 3px;
}

.funkyradio input[type="radio"]:hover:not(:checked) ~ label:before,
.funkyradio input[type="checkbox"]:hover:not(:checked) ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #C2C2C2;
}

.funkyradio input[type="radio"]:checked ~ label:before,
.funkyradio input[type="checkbox"]:checked ~ label:before {
  content: '\2714';
  text-indent: .9em;
  color: #333;
  background-color: #ccc;
}

.funkyradio input[type="radio"]:focus ~ label:before,
.funkyradio input[type="checkbox"]:focus ~ label:before {
  box-shadow: 0 0 0 3px #999;
}

.funkyradio-default input[type="radio"]:checked ~ label:before,
.funkyradio-default input[type="checkbox"]:checked ~ label:before {
  color: #333;
  background-color: #ccc;
}

.funkyradio-primary input[type="radio"]:checked ~ label:before,
.funkyradio-primary input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #337ab7;
}

.funkyradio-success input[type="radio"]:checked ~ label:before,
.funkyradio-success input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5cb85c;
}

.funkyradio-danger input[type="radio"]:checked ~ label:before,
.funkyradio-danger input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #d9534f;
}

.funkyradio-warning input[type="radio"]:checked ~ label:before,
.funkyradio-warning input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #f0ad4e;
}

.funkyradio-info input[type="radio"]:checked ~ label:before,
.funkyradio-info input[type="checkbox"]:checked ~ label:before {
  color: #fff;
  background-color: #5bc0de;
}


.bdl{
  margin-top: 40%;
}

/* Navigation*/

.table_dl{
  height:500px;
  width:100%;
  overflow:auto;/*pour activer les scrollbarres*/
}

.navbar {
    background-color: transparent;
}

.scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
}

.top-nav-collapse {
    background-color: #1C2331;
}

footer.page-footer {
    background-color: #1C2331;
    margin-top: 0;
}

/* Necessary for full page carousel*/

html,
body,
.view {
    height: 100%;
}

video#bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background: url("http://portail.lyc-plainedelain.ac-lyon.fr/srv1/isn/web_eleves/site/vachey/img_images/inferno.jpg") no-repeat;
  background-size: cover;
}

/* Carousel*/

.carousel,
.carousel-item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

.carousel .carousel-item video {
    height: auto;
    width: 100%;
}

.carousel-caption {
    height: 100%;
    padding-top: 7rem;
}

/* Cercle compteur bootcampomètre */
.circle.bootcamp{
    width:7em;
    text-align:center;
    border:2px solid;
    border-radius:100%;
    line-height:15px;
    height:7em;
    padding-top:80px;
}

.compteur_bootcamp {
    font-size: 500%; /* Paragraphes de 14 pixels */
    color: white;
    font-weight: bold;
    text-shadow:0 0 3px #FFF;
}

/* Cercle compteur de jeu */

.circle.multi-line{
    width:13em;
    text-align:center;
    border:2px solid;
    border-radius:100%;
    line-height:15px;
    height:13em;
    padding-top:80px;
}

.lastcircle{
    width:13em;
    text-align:center;
    border:2px solid;
    border-radius:100%;
    line-height:15px;
    height:13em;
    padding-top:80px;
    background: url(../img/caca.png) no-repeat center center;
}

.firstcircle{
    width:13em;
    text-align:center;
    border:2px solid;
    border-radius:100%;
    line-height:15px;
    height:13em;
    padding-top:80px;
    background: url(../img/medaille.png) no-repeat center center;
}

.bootcampometre{
    margin-left: 15%;
}

/* Compteur de jeu */

.compteur{
    margin-left: 3%;
}

.compteurheures{
  margin-left: -3%;
}

.heures {
    font-size: 500%; /* Paragraphes de 14 pixels */
    color: white;
    font-weight: bold;
    text-shadow:0 0 3px #FFF;
}

.heurestexte {
    font-size: 150%; /* Paragraphes de 14 pixels */
    color: white;
    font-weight: bold;
    text-shadow:0 0 3px #FFF;
}

.pseudo{
    text-align: center;
    margin-left: 29%;
}

/*logo*/
.logo{
  height: 50px;
  width: 50px;
}

/* bouton github */
.github {
    border: 2px solid #fff;
    color: #fff!important;
    background-color: transparent;
}

/*Caption*/

.flex-center {
    color: #fff;
}

@media (min-width: 776px) {
    .carousel .view ul li {
        display: inline;
    }
    .carousel .view .full-bg-img ul li .flex-item {
        margin-bottom: 1.5rem;
    }
}

@media only screen and (max-width: 768px) {
  .bdl{
  }
  /* Compteur de jeu */
  .compteur{
    margin-left: 20%;
  }

  .compteurheures{
    margin-left: 10%;
  }

  .heures {
      font-size: 400%; /* Paragraphes de 14 pixels */
      color: white;
      font-weight: bold;
      text-shadow:0 0 3px #FFF;
  }

  .heurestexte {
      font-size: 200%; /* Paragraphes de 14 pixels */
      color: white;
      font-weight: bold;
      text-shadow:0 0 3px #FFF;
      padding-top: -100%;
      display: none;
  }

  .pseudo{
      text-align: center;
      margin-left: -40%;
  }

  /* Cercle compteur de jeu */
  .circle.multi-line{
      width:10em;
      text-align:center;
      border:2px solid;
      border-radius:100%;
      line-height:15px;
      height:10em;
  }

  .lastcircle{
    width:10em;
    text-align:center;
    border:2px solid;
    border-radius:100%;
    line-height:15px;
    height:10em;
    background: url(../img/caca.png) no-repeat center center;
    background-size: 100% 100%;
  }

  .firstcircle{
    width:10em;
    text-align:center;
    border:2px solid;
    border-radius:100%;
    line-height:15px;
    height:10em;
    background: url(../img/medaille.png) no-repeat center center;
    background-size: 80% 100%;
  }
  .navbar {
    background-color: #1C2331;
  }
	body { background: url("glock.jpg") #000 no-repeat center center fixed; }
	#bgvid { display: none; }
  .logo{
    height: 10%;
    width: 10%;
  }
  .carousel-caption {
      height: 100%;
      padding-top: 50rem;
      bottom: 0;
      position: inherit;
  }
}
